<%= simple_form_for(@contact_message) do |f| %>
    <%= f.error_notification %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <div class="controls">
          <%= f.input :subject, wrapper_html: { class: '', id: 'msg_subject' } %>
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </div><!-- /.column -->
    <div class="col-sm-6">
      <div class="form-group">
        <div class="controls">
          <%= f.input :phone, wrapper_html: { class: '', id: 'phone' } %>
        </div>
      </div>
    </div><!-- /.column -->
  </div><!-- /.row -->
  <div class="row mb10">
    <div class="col-sm-6">
      <div class="form-group">
        <div class="controls">
          <%= f.input :name, wrapper_html: { class: '', id: 'name' } %>
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </div><!-- /.column -->
    <div class="col-sm-6">
      <div class="form-group">
        <div class="controls">
          <%= f.input :email, wrapper_html: { class: 'email', id: 'email' } %>
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </div><!-- /.column -->
  </div><!-- /.row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <div class="controls">
          <%= f.input :content, wrapper_html: { class: '', id: 'message' } %>
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt15">
    <div class="col-sm-6">
      <div id="msgSubmit" class="h4 hidden mt10 no-margin-bottom"></div>
    </div><!-- /.column -->
    <div class="col-sm-6 text-right">
      <%= f.button :submit, wrapper_html: { class: 'btn btn-default btn-lg', id: 'submit' } %>
    </div><!-- /.column -->
  </div><!-- /.row -->
<% end %>