<!-- Begin Services -->
<section id="services" class="background2 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>Products + Services</h2>
        <span class="section-divider"></span>
      </div>
    </div>

    <div class="row">

      <%= render 'main/products/web' %>

      <!-- Item 2 -->
      <%= render 'main/products/app' %>

      <!-- Item 3 -->
      <%= render 'main/products/social' %>

      <!-- Item 4 -->
      <%= render 'main/products/brand' %>

      <!-- Item 5 -->
      <%= render 'main/products/marketing' %>

      <!-- Item 6 -->
      <%= render 'main/products/photo' %>
    </div>
  </div>
</section>