<p id="notice"><%= notice %></p>

<h1>Template Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @template_categories.each do |template_category| %>
      <tr>
        <td><%= template_category.name %></td>
        <td><%= link_to 'Show', template_category %></td>
        <td><%= link_to 'Edit', edit_template_category_path(template_category) %></td>
        <td><%= link_to 'Destroy', template_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template Category', new_template_category_path %>
