<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_info.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @user_info.value %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_info.User %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
