<%= simple_form_for(@user_content) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :content_id %>
    <%= f.input :sticky %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
