<p id="notice"><%= notice %></p>

<h1>Work Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Htmlid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_categories.each do |work_category| %>
      <tr>
        <td><%= work_category.name %></td>
        <td><%= work_category.htmlId %></td>
        <td><%= link_to 'Show', work_category %></td>
        <td><%= link_to 'Edit', edit_work_category_path(work_category) %></td>
        <td><%= link_to 'Destroy', work_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Category', new_work_category_path %>
