<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work_category.name %>
</p>

<p>
  <strong>Htmlid:</strong>
  <%= @work_category.htmlId %>
</p>

<%= link_to 'Edit', edit_work_category_path(@work_category) %> |
<%= link_to 'Back', work_categories_path %>
