<h2>Welcome <%= @customer.firstName %></h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
          </div>
          <div class="col-sm-6 col-md-8">
            <h4><%=@customer.firstName %>, <%=@customer.lastName %></h4>
            <small><cite title="City, USA">City, USA <i class="glyphicon glyphicon-map-marker">
            </i></cite></small>
            <p>
              <i class="glyphicon glyphicon-envelope"></i><%= @customer.email %>
              <br />
              <i class="glyphicon glyphicon-globe"></i><%= @customer.company %>
              <br />
	            <i class="glyphicon glyphicon-gift"></i><%= @customer.phone %>
	            <br>
	            <i class="glyphicon glyphicon-gift"></i>Added:<%= @customer.created_at %></p>
            <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-primary">
                Social</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span><span class="sr-only">Social</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Twitter</a></li>
                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                <li class="divider"></li>
                <li><a href="#">Github</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12">
      <div class="update-nag">
        <div class="update-split"><i class="glyphicon glyphicon-refresh"></i></div>
        <div class="update-text">Cms v0.2.5 is available! <a href="#">Update Now</a> </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="update-nag">
        <div class="update-split update-info"><i class="glyphicon glyphicon-folder-open"></i></div>
        <div class="update-text">Plugin <a href="#">Donatirino</a> v0.2 is available! <a href="#">Update Now</a> </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="update-nag">
        <div class="update-split update-success"><i class="glyphicon glyphicon-leaf"></i></div>
        <div class="update-text">Theme <a href="#">WooStyliz</a> v1.4 is available! <a href="#">Update Now</a> </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="update-nag">
        <div class="update-split update-danger"><i class="glyphicon glyphicon-warning-sign"></i></div>
        <div class="update-text"> <strong>Warning</strong> Some type of problem, fix it! </div>
      </div>
    </div>

  </div>
</div>
