<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="ROBOTS" content="NOODP"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
	%>
	<meta charset="utf-8"/>
	<meta name="author" content="Denis Samardjiev"/>
	<meta name="description" content="Blue Helmet Software">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Blue Helmet Software</title>
	
	<!-- Royal Preloader CSS -->
	<%= stylesheet_link_tag "royal_preloader" %>
	
	<!-- jQuery Files -->
	<!-- <script type="text/javascript" src="httdp://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" %>
	
	<!-- Parallax File -->
	<%= javascript_include_tag "parallax.min.js" %>
	<%#= javascript_include_tag "drift.js" %>
	
	
	<!-- Royal Preloader -->
	<%= javascript_include_tag "royal_preloader.min.js" %>
	
	<script type="text/javascript">
		Royal_Preloader.config({
			mode: 'number',
			showProgress: false,
			background: '#1d1d1d'
		});
	</script>
	
	<!-- Stylesheets -->
	<%= stylesheet_link_tag "bootstrap.css" %>
	<%= stylesheet_link_tag "ionicons.css" %>
	<%= stylesheet_link_tag "pe-icon-7-stroke.css" %>
	<%= stylesheet_link_tag "magnific-popup.css" %>
	<%= stylesheet_link_tag "logoiconfont.css" %>
	<%= stylesheet_link_tag "style.css" %>
	<%= stylesheet_link_tag "blue" %>
	<%= stylesheet_link_tag "base-light.css" %>
	
	<% login = false %>
	
	<!--<link type="text/css" href="css/colors/blue.css" />-->
	<!--<link type="text/css" href="base-light.css" />-->
	<!--<link rel="alternate .cssstylesheet" type="text/css" href="css/colors/green.css" title="green">-->
	<!--<link rel="alternate stylesheet" type="text/css" href="css/colors/orange.css" title="orange">-->
	<!--<link rel="alternate stylesheet" type="text/css" href="css/colors/red.css" title="red">-->
	<!--<link rel="alternate stylesheet" type="text/css" href="css/colors/orangelight.css" title="orangelight">-->
	<!--<link rel="alternate stylesheet" type="text/css" href="css/colors/pinkish.css" title="pinkish">-->
	<!--<link rel="alternate stylesheet" type="text/css" href="css/colors/seagul.css" title="seagul">-->
	<title><%= title %></title>
	<%= stylesheet_link_tag :application, media: "all" %>
	
	<%= csrf_meta_tags %>
</head>

<body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="70">
<div id="royal_preloader"></div>

<!-- Begin Header -->
<%= render 'layouts/header' %>

<%#= render 'layouts/navbar' %>

<% if current_page?(root_url) %>
		<%= render 'main/jumbotron' %>
<% else %>
		<% if current_page?(root_url) %>
				<section id="main_content" class="background2 section-padding">
		<% else %>
				<section id="main_content" class="background2 section-padding-top">
		<% end %>
		<div class="container">
			<div class="row">
				<div class="container">
					<% flash.each do |key, value| %>
							<div class="alert alert-<%= key %>"><%= value %></div>
					<% end %>
					
					<%= yield %>
					<%#= render 'layouts/footer' %>
					<%#= debug(params) if Rails.env.development? %>
				</div>
			</div><!-- /.row -->
			</hr>
		</div><!-- /.container -->
		</section>
<% end %>


<% if current_page?(root_url) && login %>
		
		<section id="login" class="background2">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<% if signed_in? %>
								<% if current_user.role == 'admin' %>
										<a href="<%= root_url %>admin"><h1>Admin Panel</h1></a>
								<% else %>
										<a href="<%= root_url %>customer"><h1>View <%= current_user.email %> Profile</h1></a>
										Welcome <%= current_user.email %>
										<a href="<%= sign_out_path %>" data-method="delete" rel="nofollow">Logout of Blue Helmet</a>
								<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</section>
		
		<%#= render 'main/ideology' %>
		
		<!-- Welcome + Services -->
		<section id="ideology">
			<%= render 'main/hello' %>
			<!-- Services Splitter -->
			<div id="our-process-title" class="pt30 pb30">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<h4 class="no-margin">Services</h4>
						</div>
					</div>
				</div>
			</div>
			<%= render 'main/services' %>
			<%= render 'main/carousel' %>
		</section><!-- /.section -->
		<!-- End Intro -->
		
		<%= render 'main/products' %>
		
		<!-- Begin About -->
		<%#= render 'main/about' %>
		
		<!-- Begin Our Count -->
		<%= render 'main/numbers' %>
		
		<!-- SOFTWARE PRICING -->
		<%= render 'main/prices1' %>
		
		<!-- LOGIN -->
		<%#= render 'main/timeline' %>
		
		<!-- LOGIN -->
		<%#= render 'main/work' %>
		
		<!-- LOGIN -->
		<%= render 'main/loginSection' %>
		
		<%= render 'main/contact' %>
		
		<!-- MAP -->
		<div id="map"></div>

<% end %>

<% if current_page?(root_url) && login %>
		<%= render 'main/loginSection' %>
<% end %>
</body>

<!-- Begin Footer -->
<footer class="footer-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 text-small text-center">
				<hr>
				<div class="row">
					<% if signed_in? %>
							<%= current_user.email %>
							<%= button_to "Sign out", sign_out_path, method: :delete %>
					<% else %>
							<%= link_to "Sign in", sign_in_path %>
					<% end %>
					<!--<a href="<%= sign_out_path %>" type="button" class="btn btn-primary btn-up-footer btn-lg">Logout</a>-->
					<button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
				</div>
				<div class="row">
					<p class="no-margin">&copy; Blue Helmet Software</p>
				</div>
			</div><!-- /.column -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</footer><!-- /.footer -->
<!-- Begin Footer -->

<!-- Javascript Files -->
<%= javascript_include_tag "bootstrap.min.js" %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArLNT3t4qsJEBmR0R9P_6ueLIQz0Jvt1M&callback=initMap" async defer></script>
<%= javascript_include_tag "google_maps.js" %>
<%= javascript_include_tag "particles.min.js" %>
<%= javascript_include_tag "particlesRun" %>
<%= javascript_include_tag "jquery.mixitup.js" %>
<%= javascript_include_tag "form-validator.min.js" %>
<%= javascript_include_tag "jquery.inview.min.js" %>
<%= javascript_include_tag "jquery.countTo.js" %>
<script type="text/javascript">
	/* ---- Counter (our count) ---- */
	$('#ourcount').one('inview', function (event, isInView) {
		if(isInView) {
			$('.timer').countTo({speed: 3000});
		}
	});
</script>

<%= javascript_include_tag "jquery.magnific-popup.min.js" %>
<%= javascript_include_tag "scrollreveal.min.js" %>
<%= javascript_include_tag "main.js" %>
</html>
